html,
body {
    margin: 0px;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    position: static;
    /* background-image: linear-gradient(0deg, #002fff, rgb(114, 118, 233)); */
    color: black;
    font-family: 'verdana', serif;
    width: 100vw;
    height: 100%;
    padding-bottom: 3em;
    text-align: center;
}

a {
    color: #002fff;
    text-decoration: none;
}

#footer1 {
    position: fixed;
    text-align: center;
    vertical-align: middle;
    width: 100vw;
    height: 3em;
    bottom: 0;
    padding: 5px;
    background-color: black;
    color: white;
}

#singapore {
    color: white;
}

#footer2 {
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 3em;
    bottom: 0;
    padding: 5px;
    background-color: black;
    color: #002fff;
}


body.active {
    background-color: blue;
}

header {
    color: black;
    margin: 1em auto;
    text-align: center;
    padding: 0px;
    max-width: 1000px;
}


.nav-logo {
    color: black;
    font-family: 'alkalami', serif;
    font-size: 40px;
}

.nav-logo:hover {
    color: blue;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}



.hamburger {
    display: block;
    cursor: pointer;
}


.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition-duration: 1000ms;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition-duration: 1000ms;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: black;
}

.bar:hover {
    background-color: blue;
}


.nav-menu {
    display: flex;
    visibility: hidden;
    position: fixed;
}

.nav-menu.active {
    display: flex;
    visibility: visible;
    position: absolute;
    right: 2em;
    top: 4em;
    flex-direction: column;
    z-index: 1;
}

.nav-item,
.nav-item a {
    border: 1px solid #002fff;
    width: 100%;
    text-align: center;
    background-color: white;
    padding: .1em .1em;
    color: #002fff
}

.nav-item:hover,
.nav-item:hover a {
    background-color: #002fff;
    color: white;

}

@media screen and (max-width: 400px) {
    .nav-item {
        width: 100vw;
        position: relative;
        right: -2em;
    }
}

section {
    text-align: center;
}

.field {
    margin: 5px 0px;
    text-align: right;
}

h1 {
    font-size: 3em;
    text-align: center;
    display: inline;
    font-family: 'alkalami', serif;
    margin: 0;
    /*alkalami*/
}

#calcSection,
#outputSection {
    background-color: rgb(232, 232, 232);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 500px;
    position: relative;
    margin: 20px auto;
    box-shadow: black 5px 5px 5px;
    border-radius: 10px;
}


#radioButtons,
#submitField {
    align-self: center;
    margin: 10px 0 0 0;
}


div,
section {
    text-align: center;
    padding: 0px;
    margin: 0%;
}

#gutterRatio {
    width: 4em;
    height: 2em;
    background-color: white;
    color: black;
    text-align: center;
}

#ratioSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 6em;
    margin: 2em;
}


li {
    list-style: none;
}

#output1 {
    background-color: black;
    width: 100%;
    text-align: center;
}

p {
    text-align: center;
    margin: 0px;
}


i {
    vertical-align: middle;
}

#tagline {
    font-size: 10px;
}


button {
    background-color: white;
    color: #94a7ff;
    border: 0px;
    box-shadow: 3px 3px black;
}

button:active {
    background-color: #002fff;
}


.btn {
    background-color: #002fff;
    color: white;
}

.btn:hover {
    background-color: yellow;
}

.btn:focus {
    background-color: yellow;
    color: black;
}

#link {
    border: 1 px solid white;
}

#coffee {
    font-size: 12px;

}

#axo {
    background-color: transparent;
    background: transparent;
    width: 200px;
    filter: invert(100%);
}

::placeholder {
    color: #22222255;
}

#outputDiv {
    width: 100px;
    height: 100px;
    background-color: bisque;
}

input {
    border-radius: 0;
    border: none;
}

/* BELOW IS FOR THE REFERENCES PAGE  */

#body2 {
    position: relative;
    background-color: #002fff;
}

.referenceProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px;
    margin: 5%;
}

.project-link {
    position: absolute;
    background-color: red;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cropped {
    object-fit: cover;
    margin: 0px;
    display: block;
    border-radius: 50%;
    filter: grayscale(100%);
}

.cropped-color {
    object-fit: cover;
    margin: 0px;
    display: block;
    border-radius: 50%;
}

.projectName {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 5px;
    width: 100%;
}

#suggestion,
#submitProject {
    display: inline;
    height: 100%;
    margin: 0;
    padding: 0;
    color: black
}

.btn-color {
    background-color: white;
}

.btn-color:hover {
    background-color: yellow;
}


/* ABOVE IS FOR THE REFERENCES PAGE  */

#gregory {
    width: 50%;
}